@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'LatoRegular', sans-serif;
}


.main-page {
  padding: 20px 40px;
  font-family: 'LatoRegular', sans-serif;
}

/* Хедер */
.header {
  width: 100vw; /* во всю ширину экрана */
  margin-left: -50px; /* компенсируем отступ родителя */
  margin-top: -30px; /* чтобы не было отступа сверху */
  height: 80px;
  background-color: #0074B8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: #fff;
  font-family: 'LatoBold', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}

/* Заголовок и хлебные крошки */
.breadcrumbs {
  margin-bottom: 16px;
}

.text-regular {
  font-weight: 400;
  font-size: 16px;
  color: #999;
  margin-left: 80px;
}

.main-h1 {
  font-family: 'LatoBold', sans-serif;
  font-size: 24px;
  color: #212121;
  margin: 8px 0 0 80px;
}


.card-list {
  display: flex;
  gap: 16px;
  margin: 20px 0; 
  padding-left: 80px; 
}


.card {
  width: 213px;
  height: 77px;
  background: #fff;
  border: 2px solid #0074B8;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'LatoBold', sans-serif;
  font-size: 14px;
  text-align: center;
  transition: 0.3s;
}

.card--active {
  background: #0074B8;
  color: #fff;
}

/* Основная структура */
.card-detail__title {
  font-family: 'LatoBold', sans-serif;
  font-size: 24px;
  margin-bottom: 16px;
}

.card-detail__row {
  display: flex;
  position: relative;
  gap: 40px; /* уменьшили расстояние между колонками */
  flex-wrap: wrap;
}
.card-detail__col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/* Поля ввода */
.card-detail__section {
  display: flex;
  flex-direction: column;
}

.card-detail__section.full-width textarea {
  width: 100%;
  min-height: 60px;
  font-family: 'LatoRegular', sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .card-detail__section.small-field textarea {
  width: 300px;
  height: 46px;
} */

/* Подраздел карточки */
.card-subsection {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  position: relative;
  margin-left: 80px;
}

.card-subsection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Кнопки */
.add-btn-single {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.add-btn img,
.delete-btn img {
  width: 24px;
  height: 24px;
}

.save-btn {
  background-color: #127CC1;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px 80px 0 80px;
  transition: background-color 0.3s, transform 0.2s;
}

.save-btn:hover {
  background-color: #0f66a3;
  transform: scale(1.03);
}